@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Finance Tracker</h1>
    <p>Building a Personal Finance Tracker with ASP.NET, C#, HTML, CSS.</p>
    <p>Eyal Dorfan - Engineering (Honours) / Commerce</p>
    <p>First class Honours and distinction</p>
</div>
